@using EBlog.Service.Models.VMs.AppUser
@model IEnumerable<AppUserListVM>
@{
    ViewData["Title"] = "Index";
}

@{
    var no = 1;
}

<h1>User List</h1>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>@Html.DisplayNameFor(Model => Model.Id)</th>
                <th>@Html.DisplayNameFor(Model => Model.FullName)</th>
                <th>@Html.DisplayNameFor(Model => Model.Email)</th>
                <th>@Html.DisplayNameFor(Model => Model.CreatedAt)</th>
                <th>@Html.DisplayNameFor(Model => Model.Status)</th>
                <th>@Html.DisplayNameFor(Model => Model.RoleName)</th>
                <th>@Html.DisplayNameFor(Model => Model.ArticleCount)</th>
                <th>Edit</th>
                <th>Passive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@no</td>
                    <td>@Html.DisplayFor(Model => item.Id)</td>
                    <td>@Html.DisplayFor(Model => item.FullName)</td>
                    <td>@Html.DisplayFor(Model => item.Email)</td>
                    <td>@Html.DisplayFor(Model => item.CreatedAt)</td>
                    <td>@Html.DisplayFor(Model => item.Status)</td>
                    <td>@Html.DisplayFor(Model => item.RoleName)</td>
                    <td>@Html.DisplayFor(Model => item.ArticleCount)</td>
                    <td style="cursor:pointer" onclick="location.href = '@Url.Action("ProfilePage","User",new {id = item.Id})'">Edit</td>
                    <td style="cursor:pointer" onclick="location.href = '@Url.Action("MakeUserPassive","User",new {id = item.Id})'">Passive</td>
                </tr>
                no++;
            }
        </tbody>
    </table>
</div>

<a asp-action="Register" asp-controller="User"><b>Create New User</b></a>

