@using EBlog.Service.Models.VMs.Home
@model HomePageVM

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Genres)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a id="999" style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Home", new {page = 1, filter = 0, genreId = 999 })'">All</a>
                        </td>
                    </tr>
                    @foreach (var g in Model.Genres)
                    {
                        <tr>
                            <td>
                                <a id="@g.Id" style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Home", new {page = 1, filter = 0, genreId = g.Id })'">@g.Name</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-10">
            <div>
                <table class="table table-bordered">
                    <tr>
                        <td class="col-md-4" style="text-align:center">
                            <a id="filter0" style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Home", new {page = Model.Page, genreId = Model.GenreId,filter = 0})'">Most Liked</a>
                        </td>
                        <td class="col-md-4" style="text-align:center">
                            <a id="filter1" style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Home", new {page = Model.Page, genreId = Model.GenreId,filter = 1})'">Most Commented</a>
                        </td>
                        <td class="col-md-4" style="text-align:center">
                            <a id="filter2" style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Home", new {page = Model.Page, genreId = Model.GenreId,filter = 2})'">New</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                @foreach (var article in Model.Articles)
                {
                    <div class="col">
                        <div class="card" style="height:150px">
                            @* <img src="..." class="card-img-top" alt="..."> *@
                            <div class="card-body" style="cursor:pointer" onclick="location.href = '@Url.Action("Read","Article",new {id =article.Id})'">
                                <h5 class="card-title"><b>@article.Title</b></h5>
                                @if (article.Content.Length > 50)
                                {
                                    <p class="card-text">@Html.Raw(article.Content.Substring(0, 50) + "...")</p>
                                }
                                else
                                {
                                    var l = article.Content.Length;
                                    <p class="card-text">@Html.Raw(article.Content.Substring(0, l))</p>

                                }
                            </div>
                            <div class="card-footer">
                                <img src="~/lib/img/Like.png" style="width:15px" />
                                <a>@article.LikeCount</a>
                                <a> | </a>
                                <img src="~/lib/img/Comment.png" style="width:20px" />
                                <a>@article.CommentCount</a>
                                <a> | </a>
                                <a>@article.CreateDate.ToString("dd.MM.yyyy")</a>
                                <a> | </a>
                                <a style="cursor:pointer" onclick="location.href = '@Url.Action("Index","Home",new {page = 1, genreId = article.GenreId,filter = 0})'">@article.GenreName</a>
                                <a> | </a>
                                <a style="cursor:pointer" onclick="location.href = '@Url.Action("ProfilePage", "User", new {id = article.UserId})'">@article.AuthorFullName</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" id="previous"><a class="page-link" href="@Url.Action("Index","Home",new { page = Model.Page-1, genreId = Model.GenreId, filter = Model.FilterId })">Previous</a></li>
            <li class="page-item" id="current"><a class="page-link">1</a></li>
            <li class="page-item" id="next"><a class="page-link" href="@Url.Action("Index","Home",new { page = Model.Page+1, genreId = Model.GenreId, filter = Model.FilterId })">Next</a></li>
        </ul>
    </nav>
</div>



@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            //Highligthing Chosed Ones
            var genreId = @Model.GenreId;
            var filterId = @Model.FilterId;
            var genre = document.getElementById(genreId);
            var filter = document.getElementById("filter" + filterId);
            genre.style.fontWeight = 'bold';
            filter.style.fontWeight = 'bold';

            //Paging
            var articlecount = @Model.Articles.Count;
            var page = @Model.Page;
            if (page == 1) {
                var previous = document.getElementById("previous");
                previous.className = "page-item disabled";
            }
            if (articlecount != 10) {
                var next = document.getElementById("next");
                next.className = "page-item disabled";
            }
            var current = document.getElementById("current").getElementsByClassName("page-link");
            current[0].innerHTML = page;
        });
    </script>
}